<div class="right menu">
    <form asp-controller="Login" asp-action="LogoutUser" method="post" class="item" style="padding: 0; background: transparent; border: none;">
        <button type="submit" class="ui inverted button" style="margin: 0;">
            <i class="sign out icon"></i> Выйти
        </button>
    </form>
</div>
