<a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.User.Id"
   class="item"
   style="padding: 0; margin: 0; background: transparent; border: none; color: white; font-size: 1em; cursor: pointer;">
    <i class="user icon"></i> @User.Identity.Name
</a>